@import url("./reset.css");
@import url("./markdown.css");
@import url("./hljs.css");
@import url("./tooltip.css");

@import url("./blog.css");
@import url("./github_button.css");

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "FiraCode";
  src: local("FiraCode"), url(../assets/fonts/FiraCode-Regular.woff2);
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  color: #444;

  font-size: 1em;
}

code {
  font-family: "FiraCode", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;

  font-size: 0.9em;
}

.fakecode-holder {
}

.fakecode {
  font-family: "FiraCode", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  font-size: 0.7em;
  background-color: #ddd;
  border-radius: 6px;
  padding: 12px;
}

header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  background: #fff;
}

header .header-wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 a {
  color: #333;
}

header h1 svg {
  width: auto;
  height: 16px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

header nav a {
  color: #454545;
}

header nav a svg {
  width: 20px;
  height: 20px;
}

header a svg {
  display: inline-flex;
}

header a:hover {
  color: #000 !important;
}

.screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 2 * 80px);
}

.e404 h2 {
  font-size: 1.5em;
  font-weight: 500;
}

.e404 p {
  margin-top: 8px;
}

.e404 p a {
  color: #999;
  text-decoration: none;
}

.e404 p a:hover {
  text-decoration: underline;
}

.index .logo {
  display: flex;
}

.index h1 {
  margin: 0;
  line-height: 1.4;
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.index p {
  margin: 0;
  line-height: 1.2;
  font-size: 1.125em;
  text-align: center;
  color: #333;
}

.index p strong {
  font-weight: 600;
}

.index p label {
  display: inline-block;
  font-weight: 600;
  border-bottom: 4px #42b883 solid;
}

.index .external-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.index .external-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #666;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.index .external-links a:hover {
  color: #000;
}

.index .external-links a:after {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/external-link.svg) no-repeat center;
  background-size: contain;
  content: "";
}

.index nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.index nav a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 25px;
  color: #454545;
  transition: border-color 0.15s ease-in;
  text-decoration: none;
  cursor: pointer;
}

.index nav a:hover {
  color: #000;
  border-color: #aaa;
}

/* docs page */

.docs {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 0;
  display: flex;
  gap: 10px;
}

/*@media only screen and (max-width: 720px) {
    display: none;
  }*/

.markdown-body-holder {
  width: calc(90% - 220px);

  &.animated {
    transition: width 0.2s;
  }

  &.hidden {
    width: 90%;
  }
}

.markdown-body {
  width: 100%;
  padding: 48px 0;
}

.docs > .asideHold {
  padding-right: 20px;

  width: min(220px, 40%);
  min-width: 180px;
  flex-shrink: 0;

  flex-direction: column;

  transform-origin: center left;

  &.hidden {
    padding-right: 0px;
    width: 30px;
    min-width: 30px;
    flex-shrink: 0;
  }

  &.animated {
    transition: width 0.2s, min-width 0.2s, padding-right 0.2s;
  }
}

.docs > .asideHold > .asideButton {
  float: right;
  padding-bottom: 8px;

  &.animated {
    transition: transform 0.5s;
  }

  &.hidden {
    transform: rotateY(180deg);
  }
}

.docs > .asideHold > aside {
  transform-origin: center left;

  &.hidden {
    width: 0;
    min-width: 0;
    transform: scaleX(0);
  }

  &.animated {
    transition: width 0.2s, min-width 0.2s, transform 0.2s;
  }

  & .search {
    width: 100%;
    padding-top: 6px;

    & input {
      box-shadow: none;
      box-sizing: border-box;
      display: block;
      line-height: 36px;
      width: 100%;
      height: 36px;
      padding: 0 12px;
      border: 1px solid #f9f9f9;
      border-radius: 6px;
      outline: 0px;
      color: #000;
      background-color: #f9f9f9;
      caret-color: #000;
      transition: border-color 0.3s linear, color 0.3s linear;
      text-overflow: ellipsis;
      -webkit-appearance: none;

      &:hover {
        color: #000;
        border-color: #999;
      }

      &:focus {
        color: #111;
        background-color: #fff;
        border-color: #333;
      }
    }
  }

  & nav {
    margin-top: 1.2rem;
  }

  & ul li {
    margin-top: 0.5rem;
    list-style: disc inside;

    color: #888;

    &::marker {
      position: absolute;
      color: #aaa;
      content: "|";
    }

    & a {
      color: #888;
      padding-left: 5px;
      transition: padding-left 0.2s;

      &.active {
        color: #000;
        font-weight: 500;
        padding-left: 15px;
      }
    }
  }

  & ul ul li {
    &::marker {
      position: absolute;
      color: #aaa;
      content: attr(data-num);
    }
  }

  & ul {
    padding-left: 10px;
  }
}
