.BlogSubtext {
  & p {
    color: #444;
    font-size: 1em;
    text-align: center;
  }

  & .textContainer {
    padding: auto;
    margin: 4px;
    background-color: #eee;
    border-radius: 4px;

    border: dashed 1px black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
